# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
#go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

service.sh
clear.sh
app/.env
packages/security/account/.env
packages/security/authenticate/.env
packages/security/role/.env
packages/security/validation/.env
packages/system/email/.env
packages/system/file/.env
packages/system/init/.env
packages/system/member/.env
packages/system/project/.env
packages/system/space/.env
packages/system/zombie/.env
app/main
.deployed/versions.json
