go 1.25.0

use (
	./app
	./packages/security/account/module
	./packages/security/authenticate/module
	./packages/security/role/module
	./packages/security/validation/module
	./packages/system/init/module
	./packages/system/member/module
	./packages/system/project/module
	./packages/system/zombie/module
	./packages/security/ticket/module
)


